.head_panel {
	height: 800px;
	background-image: url(images/background_header.jpg);
}
.nav {
	margin-left: 30%;
}
.nav-link {
	font-size: 1.4em;
	color: white;
}
.nav-link:hover {
	color: gray;
	cursor: pointer;
} 
.navbar-nav {
	margin-right: 50px;
}
.navbar-toggler {
	background-color: white;
}
.head_panel_main_mainText {
	color: #ffc200;
	font-size: 5.5em;
}
.head_panel_main_text {
	color: white;
}
.head_panel_main_button {
	background-color: #ffc200;
	color: #2f2f2f;
	font-weight: 800;
	border: none;
	border-radius: 5px;
	width: 150px;
	height: 50px;
}
.head_panel_main_button:hover {
	background-color: #f9de88;
}
.best_seller {
	height: 800px;
	text-align: center;
}
.best_seller_mainText {
	padding-top: 50px;
	font-size: 3em;
}
.best_seller_text {
	margin: auto;
	width: 400px;
}
@media screen and (max-width: 992px) {
	.text_head {
		padding: 10px;
		border-radius: 10px;
		background-color: rgba(47,47,47,0.8);
	}
	.best_seller_text {
		width: 320px;
	}
	.best_pics {
		width: 200px;
	}
}
@media screen and (max-width: 770px) {
	.best_pics {
		width: 140px;
	}
}
@media screen and (max-width: 510px) {
	.best_seller {
		height: 900px;
	}
}
@media screen and (max-width: 390px) {
	.best_seller {
		height: 950px;
	}
}
@media screen and (max-width: 350px) {
	.logo_nav {
		width: 150px;
	}
	.best_seller_text {
		width: 100%;
	}
	.best_seller {
		height: 1250px;
	}
}